<div class="d-flex justify-content-center ml-0 mr-0 ">
    <%=  paginate @article, class: "px-5 mr-3"%>
</div>
<%= render 'article',obj: @article %>
<div class="d-flex justify-content-center ml-0 mr-0 ">
    <%=  paginate @article %>
</div>