<div class="jubmbotron card mt-5 image text-center p-4">
<div class="card-body my-auto ">
    <h3 class="display-4 card-title py-4 text-light">Welcome to <strong class="text-primary"> Alpha Blog</strong> </h3>
    <%= link_to 'Sign Up Now', "#", class:'btn btn-outline-light btn-light signup-button  btn-lg' %>
    </div>
</div>

<%= link_to 'Alpha Blog', articles_path %>
<%= link_to 'about page', about_path  %>