<div class=" bg-dark  footer text-center">
    <div class="container py-3 text-white">
        <h3>Copyright &copy; 2020 || The Alpha-Blog project by <strong>Bhavesh Mishra</strong></h3>
        <%= link_to 'About Us',about_path, class: 'btn btn-light btn-outline-info'   %>
    </div>
</div>