  <div class="row mt-2">
    <div class="col">
      <% flash.each do |name, msg | %>
        <div class='alert alert-<%= "#{name}" %>' >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <%=  msg %>
        </div>
      <% end %>
    </div>
  </div>